svg {
  overflow: visible;
  width: 100%;
  display: block;
}
.line-container {
  margin: 20px 25px 20px 45px;
}
.x-axis{
  font-size: 12px;
  color: #8E8883;
}
.y-axis{
  font-size: 12px;
  color: #8E8883;
}

.line-tooltip path {
  stroke-width: 0.5px;
  stroke:rgb(68, 70, 70);
}
.line-tooltip text {
  color: rgb(68, 70, 70);
}