svg {
  overflow: visible;
  width: 100%;
  display: block;
}
.line-container {
  margin: 20px 30px;
}
.x-axis{
  font-size: 12px;
  color: rgb(68, 70, 70);
}
.y-axis{
  font-size: 12px;
  color: rgb(68, 70, 70);
}
